.colum-header-container {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  display: flex;
  width: 100%;
  background-color: white;
  z-index: 1000;
}

.colum-header-container .column-header mat-icon {
  font-size: 12px;
  padding: 2px;
  width: 12px;
  height: 12px;
  border-radius: 2px;
  color: white;
  margin-right: 5px;
}

.colum-header-container .column-header mat-icon.to-do {
  background-color: rgb(58, 58, 250);
}

.colum-header-container .column-header mat-icon.doing {
  background-color: rgb(234, 183, 53);
}

.colum-header-container .column-header mat-icon.done {
  background-color: rgb(46, 168, 37);
}

.colum-header-container .column-header {
  width: 404px;
  min-width: 404px;
  margin: 5px 7px 10px 5px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: #f4f5f7;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.swimlane {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.example-container {
  margin: 5px 7px 25px 5px;
  width: 400px;
  min-width: 400px;
  vertical-align: top;
  background-color: #f4f5f7;
  padding: 12px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
}

.example-list {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.line {
  margin-top: 5px;
  border-top: 2px solid #f8f9fa;
  width: 423px;
  margin: 0px 7px 5px 7px;
}

.example-box {
  padding: 20px 10px;
  border-radius: 4px;
  border: 1px solid #dee2e6;
  border-left: 3px solid darkblue;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
}

.example-box .action-name {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}

.example-box .action-metadata {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: calc(100% - 20px);
  margin: 10 10px 0px 10px;
  align-items: center;
}

.example-box .action-metadata mat-chip {
  font-size: 10px;
  padding: 4px 8px;
}

.example-box .action-metadata .action-asignee {
  font-size: 10px;
  border-radius: 25px;
  padding: 10px 7px 4px 7px;
  background-color: #e0e0e0;
  line-height: 1;
  width: 15px;
  height: 15px;
  text-align: center;
  vertical-align: middle;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-accordion-item-header {
  margin-bottom: 5px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.example-accordion-item-header .mat-icon,
.item-count {
  color: #adb5bd;
}

.item-count {
  padding-left: 2px;
  font-size: 12px;
}
